
/* COLORS & TEXT
-------------------------------------------------- */

/*BLACKS*/
	/*footer black*/
$bg-color: #121111; 

$sheer-black: rgba(0, 0, 0, 0.25);


/* GREYS */

/*#3A3A3A*/
/*#E3E6E8*/

	/*headings and general txt*/
$hdg-grey: #5a5a5a;
$txt-grey: #646464;
$h3-grey: #646464;

	/*div styling*/
$bg-grey: #ececec;
$brdr-grey: #e3e3e3;

$bg-lt-grey: #F3F3F3;
$brdr-lt-grey: #f2f2f2;

/*body dark grey*/
$body-bg-color: #5a5a5a;

/* WHITES */
/*$nav-links: #e5e5e5;*/
$panel-color: white;

/* BLUES */
$exotic-blue: #0D5F9E;
$dark-blue: #084A7C;
/*$link-blue: #1C94C6;*/
$nav-links: #538FEC;
$link-blue: #538FEC;
/*#1C94C6*/


/* YELLOWS */
$logo-yellow: #F6BA04;