@font-face {
  font-family: 'avneir';
  src: url("../fonts/Avenir_med.ttf"); 
  }
  
@font-face {
  font-family: 'bebas';
  src: url("../fonts/BebasNeue_Regular.ttf"); 
  }


/*h3 > small, label {
  color: #B9B9B9; }*/
